{block #content}
    <h1>API klíče</h1>
    <div class="w-100 d-flex flex-row-reverse mb-1">
        <a n:href="create" class="btn btn-primary btn-sm">Vytvořit</a>
    </div>
    {control apiCredentialsGrid}
{/block}
