nav {
	background: radial-gradient(circle, rgba(0, 121, 112, 1) 0%, rgba(0, 63, 57, 1) 100%);
	height: 110px;
	width: 100%;
	position: relative;
	z-index: 997;
	top: 0;
	padding-top: 8px;
	box-shadow: -3px 3px 5px -1px rgba(0, 0, 0, 0.2);
}

nav ul {
	text-align: center;
	margin: 0;
	margin-right: 50px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

nav ul li {
	display: inline-block;
	line-height: 95px;
	margin: 0 15px;
	padding: 0;
	box-sizing: border-box;
	border: solid 1px transparent;
	border-radius: 50px;
	aspect-ratio: 1/1;
	text-align: center;
	width: 100px;
	height: 100px;
}

nav ul li a {
	color: white;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 19px;
	text-decoration: none;
	margin: 10px;
}

nav li.active,
nav li:hover {
	border: solid 1px white;
	transition: 0.5s;
}

nav div {
	width: 200px;
	height: 200px;
	background-color: rgb(0, 97, 87);
	margin-right: 70px;
	margin-top: -60px;
	border-radius: 200px;
	position: relative;
	box-shadow: -3px 3px 5px -1px rgba(0, 0, 0, 0.5);
}

nav div img {
	width: 80px;
	position: relative;
	top: 35%;
}

nav button {
	font-size: 19px;
	font-weight: 600;
	padding: 10px 15px;
	box-shadow: 5px 5px 15px 3px rgb(0, 0, 0, 0.3);
	margin: 0 25px;
	margin-top: 28px;
	transition: all 0.5s;
}

nav button:hover {
	color: white;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

#smallLogo {
	display: none;
	z-index: 10;
}

@media (max-width: 1400px) {
	.checkbtn {
		display: block;
		font-size: 24px;
		line-height: 60px;
	}

	#check:checked ~ ul {
		left: 0;
	}

	nav li.active,
	nav li:hover {
		border: none;
	}

	nav {
		height: 70px;
		background: var(--main-color);
	}

	nav div {
		margin-right: 0;
		display: none;
	}
	nav ul {
		display: block;
		position: fixed;
		width: 100%;
		height: 100vh;
		background: radial-gradient(circle, rgba(0, 121, 112, 1) 0%, rgba(0, 63, 57, 1) 100%);
		top: 77px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}
	nav ul li {
		width: 100%;
		height: 40px;
		display: block;
		margin: 20px 0;
		line-height: 30px;
	}

	nav ul li:nth-of-type(1) {
		margin-top: 50px;
	}

	nav ul li a {
		font-size: 20px;
	}

	nav button {
		margin-top: 0;
	}

	#smallLogo {
		display: block;
	}
	nav div {
		width: 150px;
		height: 150px;
		top: 20px;
		left: 20px;
	}

	nav div img {
		width: 70px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -40%);
	}
}

@media (max-width: 800px) {
	nav div {
		width: 120px;
		height: 120px;
		top: 30px;
		left: 20px;
	}

	nav div img {
		width: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -40%);
	}
}

@media (max-width: 450px) {
	nav ul li {
		margin: 10px 0;
	}

	nav ul li:nth-of-type(1) {
		margin-top: 35px;
	}
}
