{block #content}
    <h1>Jednotky</h1>
    <div class="w-100 d-flex flex-row-reverse mb-1">
		<a n:href="import" class="btn btn-outline-secondary btn-sm ms-1">Importovat jednotky ze souboru</a>
        <a n:href="edit" class="btn btn-primary btn-sm">Vytvořit</a>
    </div>
    {control housingUnitGrid}
{/block}
