* {
    box-sizing: none;
    text-decoration: none;
}

.businnes-card {
    background-color: lightgrey;
    margin: auto;
    width: 420px;
    padding: 10px;
}

.bc-image img {
    width: 420px;
    height: 300px;
}

.bc-name {
    font-size: 40px;
}

h1 {
    text-align: center;
}

.bc-phone,
.bc-email,
.bc-website {
    text-decoration: none;
}

.bc-phone a,
.bc-email a,
.bc-website a {
    text-decoration: none;
}

.bc-phone a:hover,
.bc-email a:hover,
.bc-website a:hover {
    background-color: lightpink;
}

.bc-image {
    width: 200px;
    height: 300px;
}

.divider {
    margin: 150px;
}