* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
a {
  margin: 5px 10px;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}
img {
  width: 100px;
  margin: 20px auto;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form div {
  display: block;
  margin: 20px;
}
form div > * {
  display: block;
}
form input,
form select {
  padding: 5px 10px;
  width: 100%;
}
form .danger,
form .danger input {
  color: red;
}
form .danger input {
  border-color: red;
  border-style: solid;
  outline-color: red;
}
.dangerArea p,
.successArea p {
  padding: 10px 20px;
  color: white;
  font-weight: 600;
}
.dangerArea p {
  background: red;
}
.successArea p {
  background: green;
}
