*{
    box-sizing: border-box;
}

.💪{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    padding: 10px;
    width: 600px;
    height: 250px;
    background: lightblue;
    border-radius: 10px;
    display: block;
    margin: 10px;
}

.card img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 100%;
}

.card img, .card{
    transition: transform .8s ease-in-out;
}

.card img:hover, .card:hover {
    transform: rotate(360deg);
}

.card span{
    display: block;
}
