* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-field {
}

.form-field__input {
    background: #00453c;
    border-radius: 4px;
    padding: 0.25rem;
}

.form-field__input > input, .form-field__input > select {
    padding: 1rem;
    background: transparent;
    color: white;
    outline: 0;
    border: 0;
    cursor: text;
}

select {
    width: 100%;

}

option {
    background: #00453c;
    color: #ffffff;
    border: 0;
}


input:focus, select:focus {
    outline: 0;
    border: 0;
}
