*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.business-card {
    width: 500px;
    background-color: wheat;
}

.bc-avatar {
    width: 100px;
}

.bc-name {
    font-weight: bold;
    font-size: 24px;
}