@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');

* {
    box-sizing: border-box;
}

/*---Key components----*/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    min-height: 100vh; /*for infinite bottom page*/
    /*display: flex */ /*for infinite bottom page - Skryto kvuli nefunkcnimu IE11*/
    /*flex-direction: column;*/ /*for infinite bottom page - Skryto kvuli nefunkcnimu IE11*/
}

header {
    background-color: #343434;
    padding: 12.8px 0;
}

footer {
    background-color: #323232;
    padding: 8px 0;
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

/*---Header navigation----*/

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    height: 50px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-item{
    margin-left: 32px;
}

nav a {
    text-decoration: none;
}
  
nav a:hover,
nav a:focus {
    color: #5371B6;
    transition: color .1s ease;

}

.logo {
    color: white;
    width: 60px;
}

.logo-image {
    width: 100%;
}

/*
.logo:hover{
    color: #5371B6;
    transition: color .1s ease;
    cursor: pointer;
}
*/

.active > a {
    color: #5371B6;
}

/*---Main components----*/

main{
    display: flex;
    flex-wrap: wrap;
    flex:1;
}

.promo{
    width: 100%;
    padding: 120px;
    display: grid;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(../img/foto.jpg);
    background-size: cover;
}

.welcome-text {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 40px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
}

.event-grid {
    padding: 50px 180px;
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.event {
    width: 330px;
    height: 100%;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 5px 5px 27px -1px rgba(0,0,0,0.26);
    display: flex;
    flex-direction: column;
}

.event-cover {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.event-title {
    margin: 30px;
}

.event-button {
    margin-left: 30px;
    margin-bottom: 25px;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #9aafe0;
}

.event-button:hover {
    cursor: pointer;
    background-color: #7890c8;
}

.event-button:focus {
    cursor: pointer;
    background-color: #9aafe0;
}

.signup {
    display: flex;
    justify-content: center;
}

.form-template {
    width: 40%;
    margin: 150px 0;
    border: 1px black;
    border-style: solid;
    padding: 20px;
}

.form-template-2 {
    width: 40%;
    margin: 0 30px;
    padding: 20px;
}

.form-label-group {
    margin-top: 20px;
    width: 70%;
}

.form-control {
    width: 70%;
}

.checkbox-confirm {
    margin-top: 20px;
}

.notify {
    color:#5371B6;
    font-style: normal;
}

.warning{
    color: red;
    font-style: normal;
}

/* CSS */
.button-2 {
    margin-top: 15px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.button-2:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.button-2:focus {
    border-color: #4285f4;
    outline: none;
}

.button-3 {
    margin-top: 15px;
    background-color: #c4ddf5;
    border: 1px solid #c4ddf5;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    line-height: 27px;
    min-width: 90px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.button-3:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.button-3:focus {
    border-color: #4285f4;
    outline: none;
}

.event-container{
    padding: 30px 120px;
}

.event-menu {
    display: flex;
    flex: 1;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 5px 5px 27px -1px rgba(0,0,0,0.26);
}

.event-heading {
    width: 50%;
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.event-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.event-image-container {
    width: 50%;
}

.event-image {
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.event-body {
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 27px -1px rgba(0,0,0,0.26);
    padding: 30px;
    display: flex;
}

.event-body-description {
    width: 50%;
}

.event-body-information {
    width: 50%;
}

.body-information {
    font-style: normal;
    font-weight: normal;
}

.event-registration {
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 27px -1px rgba(0,0,0,0.26);
    padding: 30px;
    display: flex;
    justify-items: right;
}

.success {
    margin-top: 40px;
    background-color: #c9fcb8;
    border-radius: 15px;
    box-shadow: 5px 5px 27px -1px rgba(0,0,0,0.26);
    padding: 30px;
    display: flex;
    justify-items: right;
}



/*---Responsive settings----*/

@media (min-width: 2000px) {
    footer{
        display: none;
    }
}

@media (min-width: 1200px) {
    .event-grid {
        padding: 50px 150px;
        display: grid;
        grid-gap: 1rem;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 830px) {
    .event-grid {
        padding: 50px 150px;
        display: grid;
        grid-gap: 1rem;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .mobile-hide{
        display: none;
    }

    h1{
        font-size: larger;
    }
    .container {
      text-align: center;
    }
  
    .container-nav {
      flex-direction: column;
    }
  
    .nav-links {
      flex-direction: column;
    }
  
    .nav-item {
      margin: 6.4px 0;
    }
   
    .event-grid {
        padding: 50px 150px;
        display: grid;
        grid-gap: 1rem;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 320px) {
    h1{
        font-size: medium;
    }

    .container {
      text-align: center;
    }
  
    .container-nav {
      flex-direction: column;
    }
  
    .nav-links {
      flex-direction: column;
    }

    .nav-item {
      margin: 3.2px 0;
    }

}


/*----Dissolve and animation----*/
/* Used from cv06 */

@keyframes dissolve {
    from {
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

/*----Print options----*/

@media print {
    img{
        display: none;
    }
    header{
        display: none;
    }
    .button{
        display: none;
    }
    iframe{
        display: none;
    }
    .article-quote{
        display: none;
    }
}