* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.businessCard {
    max-width: 500px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 10px 5px 5px 5px #d7d7d7;
    padding: 10px;
    transition: 0.5s;
}
@media only screen and (min-width: 750px) {
    .businessCard {
        max-width: unset;
    }
}

.businessCard:hover {
    box-shadow: 10px 5px 5px 5px #868686;
}

.logo {
    flex: 0 0 70px;
    padding-right: 15px;
}

.name {
    flex: 0 0 calc(100% - 85px);
    padding-left: 15px;
    border-left: 2px solid #e7e7e7;
}
h1 {
    display: block;
    margin-top: -15px;
}
span {
    display: block;
    margin-top: -15px;
    font-weight: 700;
    color: #b2b2b2;
}
.info {
    flex: 0 0 100%;
}
ul {
    padding: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
}
li {
    display: block;
    width: 100%;
}