{block #content}
    <h1>Oznámení</h1>
    <div class="w-100 d-flex flex-row-reverse mb-1">
        <a n:href="edit" class="btn btn-primary btn-sm">Vytvořit</a>
    </div>
    {control announcementGrid}
{/block}
