*{
    box-sizing: border-box;
}

.business-card{
    width: 400px;
    height: 200px;
    background-color: pink;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.bc-name{
    font-weight: bold;
    font-size: 24px;
}
